.active{
    background-color: darkgrey;
    color: white;
}
a{
    text-decoration: none;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.header-option{
    width: 50%;
    display: flex;
    justify-content: center;
}
.header-item{
    width: 100%;
    display: flex;
    justify-content: center;
}
h1.title{
    font-weight: bold;
    color: black;
}

.container {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    border-bottom: 2px solid #818285;
    width: 48%;
  }
  