.jobDetails {
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin: 10px;
    width: 100%;
}
.jobDetailsLeft {
    display: flex;
    flex-direction: row;
}


.star{
    width: 50px;

}


.title {
    font-weight: bold;
}