.jobDetails {
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin: 10px;
    width: 100%;
}
.jobDetailsLeft {
    display: flex;
    flex-direction: row;
}

.logoImg {
    height: 50px;
    margin-right: 30px;
}

.title {
    font-weight: bold;
}
.star{
    width: 50px;

}