<div class="jobDetails">
    <div class="jobDetailsLeft">
        <div>
            <img class="logoImg"  [src]="job.companyLogo" alt="Company Logo">
        </div>
        <div>
            <a routerLink="/jobs/{{job.id}}" class="title">
                {{job.title}}
            </a>
            <div>
                <div>
                    <span style="margin-right: 30px;">Company: {{job.companyName}}</span> Reference: {{job.reference}}
                </div>
            </div>
        </div>
    </div>
    <div class="star" (click)="setFavorite()" *ngIf="showStar">
        <span class="icon-star" [ngClass]="{ active: favorite }" id="star-{{job.id}}"></span>
    </div>
</div>